/* ================== WRAPPER ================== */
.desktopMenuWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

/* ================== TRACK ================== */
.desktopMenuTrack {
  flex: 1;
  overflow: hidden;
}

/* ================== MENU ================== */
.desktopMenu {
  display: flex;
  justify-content: center;
  font-size: 2vh;
}

.desktopMenu ul {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.desktopMenu li {
  position: relative;
}

/* LINKS */
.desktopMenu a,
.desktopMenu span {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #17406d;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.desktopMenu a:hover,
.desktopMenu span:hover {
  background: #f5f7fa;
  color: #f7a600;
}

/* ================== SUBMENU ================== */
.desktopSubMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #121212;
  border-radius: 6px;
  min-width: 180px;
  padding: 6px 0;
  display: flex;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: 0.2s ease;
  z-index: 1000;
}

/* mostrar submenu */
.desktopMenu li:hover > .desktopSubMenu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* items submenu */
.desktopSubMenu a,
.desktopSubMenu span {
  color: #ddd;
  padding: 10px 14px;
  white-space: nowrap;
}

.desktopSubMenu a:hover,
.desktopSubMenu span:hover {
  background: #333;
  color: #fff;
}

/* ================== SUBMENU NIVEL 2 ================== */
.desktopSubMenu .desktopSubMenu {
  top: 0;
  left: 100%;
}

/* ================== INDICADORES ================== */
.hasSubmenu > a::after,
.hasSubmenu > span::after {
  content: " ▼";
  font-size: 0.6em;
  margin-left: 4px;
}

.desktopSubMenu .hasSubmenu > a::after,
.desktopSubMenu .hasSubmenu > span::after {
  content: " ▶";
}

/* ================== PHONE ================== */
.phoneBlock {
  background: #084b87;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px 18px;
  border-radius: 0 0 0 40px;
  font-weight: bold;
}

.phoneIcon {
  background: #f7a600;
  color: #084b87;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phoneNumber {
  font-size: 2rem;
  font-weight: bold;
}